.btn {
  display: inline-flex;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}

.btn-primary {
  width: 235px;
  min-height: 57px;
  padding: 20px 24px;
  border: 4px solid $color-default-white;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;

  @include vp-1199 {
    width: 183px;
  }

  @include vp-767 {
    width: 100%;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-resolution-blue;
  }

  &:active {
    background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
  }
}

.btn-second {
  width: 206px;
  min-height: 64px;
  padding: 27px 44px;
  outline: 2px solid $color-sapphire;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-sapphire;

  &:hover,
  &:focus,
  &:active {
    background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
    outline: none;
    color: $color-default-white;
  }

  &:active {
    opacity: 0.7;
  }
}

.btn-video {
  width: 72px;
  height: 72px;
  padding: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  border-radius: 50%;
  background: linear-gradient(44.89deg, $color-dark-cerulean 25.38%, $color-venetian-red 74.89%) content-box;
  box-sizing: content-box;
  box-shadow: rgba($color-dark-cerulean, 0.2) 0 0 0 2px,
    rgba($color-venetian-red, 0.2) 0 0 0 2px;

  @include vp-1199 {
    width: 52px;
    height: 52px;
  }
}

.btn-video svg {
  @include vp-1199 {
    width: 12px;
    height: 12px;
  }
}
