.feedback {
  width: 720px;
  margin: 120px auto;
  padding: 0;

  @include vp-1199 {
    margin-top: 94px;
    margin-bottom: 100px;
    padding: 0;
  }

  @include vp-767 {
    margin-top: 68px;
    margin-bottom: 68px;
    width: 100%;
  }
}

.feedback h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.feedback__wrapper {
  position: relative;
}

.feedback__slider {
  overflow: hidden;
  width: 562px;
  margin: 0 auto;

  @include vp-767 {
    width: 226px;
  }
}

.feedback__list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  align-items: stretch;
}

.feedback__item {
  list-style-type: none;
  position: relative;
  width: 556px;
  height: 242px;
  padding: 54px 63px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-resolution-blue;
  color: $color-default-white;

  @include vp-1199 {
    padding-left: 63px;
    padding-right: 63px;
  }

  @include vp-767 {
    height: 335px;
    padding: 40px 25px;
  }
}

.feedback__photo {
  margin-top: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 28px;
  flex-shrink: 0;
  background-color: $color-shambray;

  @include vp-767 {
    position: absolute;
    top: 40px;
    left: 25px;
  }
}

.feedback__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback__text {
  height: 100%;
  overflow-y: hidden;

  @include vp-767 {
    width: 100%;
  }
}

.feedback__item h3 {
  width: 100%;
  margin-top: auto;
  margin-bottom: 7px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  @include vp-767 {
    padding-left: 100px;
    margin-bottom: 34px;
  }
}

.feedback__content {
  height: 100%;
  overflow-y: auto;
}

.feedback__content p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.feedback__btn-next,
.feedback__btn-prev {
  height: 100%;
  width: 60px;
  top: 0;
  margin: 0;

  @include vp-767 {
    width: auto;
  }
}

.feedback__btn-next {
  right: 0;

  @include vp-767 {
    transform: translateX(50%) rotate(-180deg);
  }
}

.feedback__btn-prev {
  left: 0;

  @include vp-767 {
    transform: translateX(-50%);
  }
}
