.gym {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 70px;
    flex-wrap: wrap;
  }

  @include vp-767 {
    padding: 68px 0 0;
  }
}

.gym__text {
  width: 355px;
  padding: 50px calc(50vw - 145px) 0;
  margin-left: 60px;
  color: $color-sapphire;

  @include vp-1199 {
    width: 502px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    text-align: left;
  }
}

.gym__text h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 10px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 8px;
    font-size: 32px;
    line-height: 32px;
  }
}

.gym__text span {
  display: block;
  margin-bottom: 37px;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin-bottom: 30px;
  }

  @include vp-767 {
    margin-bottom: 22px;
  }
}

.gym__text p {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: $ff-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;

  @include vp-767 {
    padding-right: 15px;
  }
}

.gym__text p[data-visible-tablet] {
  @include vp-1199 {
    display: none;
  }
}

.gym__gallery {
  position: relative;
  margin-bottom: 114px;

  @include vp-1199 {
    margin-top: 40px;
    width: 100%;
  }

  @include vp-767 {
    margin-top: 26px;
    margin-bottom: 70px;
  }
}

.gym__photo {
  width: 660px;
  height: 401px;

  @include vp-1199 {
    width: 100%;
    height: 345px;
  }

  @include vp-767 {
    height: 313px;
  }
}

.gym__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gym__video {
  position: absolute;
  bottom: 0;
  left: -62px;
  transform: translateY(50%);
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  @include vp-767 {
    position: relative;
    left: 0;
    transform: none;
    width: 100%;
    height: 167px;
    margin-top: 40px;
  }
}

.gym__video img {
  object-fit: cover;
}

.gym__preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gym__preview-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $color-dark-cerulean-2;
  opacity: 0.5;
}

.gym__preview img {
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 100%;
    height: 167px;
  }
}

.gym__video iframe {
  border: none;
  outline: none;
}

[data-video].is-close iframe {
  display: none;
}

[data-video].is-open .gym__preview {
  display: none;
}

.gym__video .gym__btn {
  position: absolute;
}

.gym__btn svg {
  width: 100%;
  height: 100%;
}
