.membership {
  position: relative;
  padding-top: 120px;
  padding-bottom: 85px;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding-top: 95px;
    padding-bottom: 63px;
  }

  @include vp-767 {
    padding-top: 68px;
    padding-bottom: 35px;
  }
}

.membership h2 {
  margin-top: 0;
  margin-bottom: 19px;
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 32px;
  }
}

.membership__months {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 auto 37px;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1199 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.membership__month {
  list-style-type: none;
  margin-right: 46px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1199 {
    margin-right: 46px;
  }
}

.membership__month button {
  position: relative;
  padding: 14px 0;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-sapphire;
    outline: none;
  }

  @include vp-1199 {
    padding: 13px 0;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 13px 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.membership__month button.is-active {
  color: $color-sapphire;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    transform: translateY(50%);
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $color-crimson;
  }
}

.membership__month-text {
  margin-bottom: 39px;
  padding: 20px 0;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-sapphire;
  text-align: center;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }
}

.membership__list {
  position: relative;
  z-index: 1;
}

.membership__categories {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
  }
}

.membership__categories[data-membership="hidden"] {
  display: none;
}

.membership__category {
  list-style-type: none;
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1199 {
    margin-right: 0;
  }
}

.membership__link {
  display: block;
  padding: 55px 70px;
  min-width: 360px;
  font-family: $ff-roboto;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;
  box-sizing: border-box;

  @include vp-1199 {
    padding-top: 60px;
    padding-bottom: 58px;
    min-width: 442px;
  }

  @include vp-767 {
    min-width: 100%;
    width: 100%;
    padding: 42px 30px 45px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-image-source: linear-gradient(90deg, rgba(209, 10, 66, 1) 0%, rgba(0, 53, 159, 1) 75%);
    border-image-width: 7px;
    border-image-repeat: stretch;
    border-image-slice: 1;
  }
}

.membership__category h4 {
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.membership__category span {
  margin-bottom: 66px;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-shambray;

  @include vp-767 {
    margin-top: 6px;
    margin-bottom: 55px;
  }
}

.membership__price {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.membership__price p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: $color-whisper;
  opacity: 0.48;

  @include vp-767 {
    font-size: 80px;
    line-height: 120px;
  }
}

.membership__price span {
  margin: 0 14px 0 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $color-egyptian-blue;
  z-index: 1;

  @include vp-767 {
    margin: 0 11px 0 0;
    font-size: 48px;
    line-height: 72px;
  }
}

.membership__price svg {
  z-index: 1;

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.membership__link .btn-second {
  margin: 0 auto;
  padding: 20px;
}

.membership__link:hover .btn-second,
.membership__link:focus .btn-second,
.membership__link:active .btn-second {
  background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
  outline: none;
  color: $color-default-white;
}

.membership__link:active .btn-second {
  opacity: 0.7;
}

.membership__weight {
  position: absolute;
  bottom: -70px;
  right: -105px;
  width: 321px;
  height: 384px;
  transform: rotate(-210deg);

  @include vp-1199 {
    bottom: -75px;
    right: -5px;
    width: 289px;
    height: 345px;
  }

  @include vp-767 {
    display: none;
  }
}

.membership__weight img {
  object-fit: contain;
}
